node_modules/
.venv-backend/
.pycache/
__pycache__/
*.py[cod]

dist/
dist-plain/
coverage/

backend/data/
backend/models/*.task

*.tsbuildinfo
.DS_Store
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
